<div class="container border row" style="background-color: lightgray;">
    <p class="fs-3 text-center col-8">Bienvenido {{usuario}}</p>
    <button class="col-3" onclick="location.href = 'logout';">Desloguear</button>
</div>